#baha-forum-filter-setting-window .two-side-block {
  display: flex;
  flex-direction: row;
}

#baha-forum-filter-setting-window .two-side-block > div {
  padding: 5px;
  border: 1px solid;
  flex: 1;
}
