#baha-forum-filter-setting-window .keyword-block {
  padding: 5px;
  border: 1px solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#baha-forum-filter-setting-window .keyword-block #add-keyword,
#baha-forum-filter-setting-window .keyword-block .description {
  width: 100%;
  margin: 5px;
  line-height: 200%;
}
